* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
}
body {
  z-index: 1;
}
header h1 {
  display: inline-block;
  padding: 30px;
  font-size: xx-large;
}
.image {
  display: inline;
  float: right;
}
.image img {
  width: 40px;
  margin: 30px;
}
.boxs img {
  width: 100%;
}
.boxs .Notes {
  background-color: orange;
}
.boxs .Notes h2 {
  color: white;
  padding: 20px;
}
.filtar {
  height: auto;
  background-color: #f8fbff;
  position: relative;
}
.filtar .buon {
  height: 45px;
  width: 100px;
  margin: 40px;
  border-color: lavender;
  cursor: pointer;
}
.filtar .fron {
  background-color: white;
  width: 325px;
  height: auto;
  box-shadow: 0 0 20px 2px #333333;
  display: none;
  left: 7.5%;
  position: absolute;
  top: 0;
  transition: all 3s;

}
.filtar .fu {
  display: block;
  background-color: white;
  width: 325px;
  height: auto;
  box-shadow: 0 0 20px 2px #333333;
  left: 7.5%;
  position: absolute;
  top: 0;
}
.filtar .fron .iend {
  text-align: end;
  margin: 10px;
}
.filtar .fron .iend img {
  cursor: pointer;
}
.filtar .fron ul {
  margin: 10px;
  padding: 10px;
}
.filtar .fron ul h2 {
  padding-bottom: 1%;
  margin: 0;
  color: #666;
}
.filtar .fron ul li {
  list-style-type: none;
}
.filtar .fron ul li input {
  margin: 3%;
}
.filtar .fron .ay,
.cl {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px 40px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

.filtar .fron .ay {
  background: orange;
}
.filtar .fron .cl {
  margin-bottom: 25px;
  background-color: #6d7378;
}
.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8fbff;
  padding-bottom: 3%;
  padding-top: 2%;
}
.content .slice {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 20px 2px #333333;
}

.content .slice img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.content .slice p {
  padding: 3%;
  font-weight: bold;
}
.content .slice .points {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.content .slice .points .price {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  color: orange;
}

.content .slice .points .price span {
  text-decoration: line-through;
  color: lightgray;
}
.content .slice .points .tow img {
  width: auto;
}
.content .slice .points .tow,
.un8 {
  display: flex;
  align-items: center;
}
.content .slice .points .tow span,
.content .slice .points .un8 span {
  padding: 7.5px;
}
.content .slice .points .un8 span {
  font-weight: bold;
}
.content .slice .but {
  padding: 5%;
}
.content .slice .but button {
  border: none;
  margin: auto;
  width: 140px;
  background-color: orange;
  height: 50px;
  color: white;
  border-radius: 2px;
  padding: 10px;
  display: block;
  cursor: pointer;
}
.opan ul {
  display: flex;
  justify-content: center;
  background-color: #f8fbff;
  padding-bottom: 2%;
}

.opan ul .active {
  background-color: orange;
  color: white;
}
.opan ul li {
  list-style-type: none;
  margin-top: 30px;
  padding: 10px;
  border: orange solid 2px;
  cursor: pointer;
  color: orange;
}

.opan ul li:nth-of-type(n + 1) {
  border-right: none;
}
.opan ul li:nth-of-type(5) {
  border-right: orange solid 2px;
}
footer {
  padding: 3%;
}
footer h1 {
  font-size: x-large;
  padding-bottom: 30px;
}
footer .en {
  display: flex;
}

footer .en .fd {
  width: 35%;
}
footer .en .fd ul {
  padding: 0;
}

footer .en .fd ul li {
  list-style-type: none;
}
@media (max-width: 600px) {
  .filtar .fron {
    left: 5%;
    top: -275%;
  }
  .content .slice {
    width: 90%;
    margin-bottom: 8%;
  }
  footer .en {
    flex-direction: column;
  }
  footer .en .fd {
    margin: 2%;
  }
  footer .en .fd h2 {
    margin-bottom: 2%;
  }
}
